.h-header {
    min-height: 80px;
    display: flex;
    align-items: center;
    z-index: 99;
    &__logo {
        > a {
            display: inline-block;
            color: #ffffff;
            &:hover {
                color: #ffffff;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__become-host {
        margin-right: 20px;
        a {
            background: transparent;
            border: 0px;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            margin: 0px;
            outline: none;
            overflow: visible;
            padding: 12px;
            text-decoration: none;
            color: #ffffff;
            border-radius: 22px;
            transition: all 0.5s ease;
            &:hover {
                background: rgba(255, 255, 255, 0.15);
                color: #ffffff;
                text-decoration: none;
            }
        }
    }

    &__actions {
        button.actions-btn {
            background: #fff;
            color: #222222;
            display: flex;
            align-items: center;
            width: 77px;
            height: 42px;
            padding: 5px 5px 5px 12px;
            border-radius: 21px;
            transition: all 0.5s ease;
            border: 1px solid #dddddd;
            span {
                &.icon-user {
                    color: #717171;
                    flex: 0 0 30px;
                    height: 30px;
                    margin-left: 12px;
                    overflow: hidden;
                    position: relative;
                    width: 30px;
                    z-index: 1;
                }
                &.icon-list {
                    display: block;
                    fill: none;
                    height: 16px;
                    width: 16px;
                    stroke: currentcolor;
                    stroke-width: 3;
                    overflow: visible;
                }
            }

            &::after {
                display: none;
            }

            &:hover,
            &:focus,
            &:active {
                background: #fff !important;
                color: #222222;
                opacity: 0.5;
                box-shadow: none !important;
            }
        }

        .show {
            button.actions-btn {
                background: #fff;
            }
        }

        .dropdown-menu {
            border-radius: 8px;
            min-width: 200px;
        }
        &-menu {
            button,
            a {
                display: block;
                color: #525151;
                font-size: 16px;
                width: 100%;
                padding: 4px 20px;
                text-align: left;
                line-height: 1.6;
                text-decoration: none;
                font-weight: 400;
                height: auto;
                transition: all 0.5s ease;

                &:hover {
                    text-decoration: none;
                    color: #ff385c;
                }

                &.signUp {
                    font-weight: 500;
                }
            }
        }
    }

    // inner Header
    &.innerHeader {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
        position: sticky;
        top: 0;
        background: #fff;
        .h-header__logo a {
            color: rgb(255, 56, 92);
        }
    }
}
