.h-fold {
    min-height: 100vh;
    background: url('../../images/fold-bg.webp') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        h1 {
            margin-top: auto;
            font-size: 108px;
            font-weight: 900;
            color: #ffffff;
            span {
                display: block;
                line-height: 1;
            }
        }
    }

    .btn-explore {
        color: rgb(34, 34, 34);
        font-size: 14px;
        line-height: 18px;
        background: rgb(255, 255, 255);
        border-radius: 8px;
        margin-top: 22px;
        padding: 8px 15px;
        font-weight: 500;
    }

    &__search {
        margin-bottom: auto;
        margin-top: 5%;
    }
}
