.safty_txt{
    margin-bottom: 30px;
    margin-top: 30px;
}
.safty_a {
   color: grey !important;
  }
  .safty_a:hover {
    color: black !important;
  }
  .myLink{
    font-size: 13px;
  }
  
 
  
 