.form-modal {
    .modal-header {
        display: flex;
        align-items: center;
        min-height: 64px;
        .modal-title {
            text-align: center;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            color: #222222;
        }
        .close {
            position: absolute;
            left: 0;
            &:focus,
            &:hover {
                outline: none !important;
            }
        }
    }

    .modal-body {
        padding: 1.5rem;
    }

    .modal-content {
        border-radius: 12px;
    }

    .form-label {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #495057;
    }

    .form-control {
        min-height: 45px;
        &:focus {
            border-color: #ff385c;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(255, 56, 92, 0.25);
        }
    }

    &__btn-submit {
        transition: all 0.5s ease;
        display: block;
        width: 100%;
        height: 48px;
        background-size: 200% 200%;
        font-size: 16px;
        border: 0;
        border-radius: 8px;
        font-weight: 600;
        color: #ffffff;
        margin-top: 20px;
        background-image: radial-gradient(
            circle at center center,
            rgb(255, 56, 92) 0%,
            rgb(230, 30, 77) 27.5%,
            rgb(227, 28, 95) 40%,
            rgb(215, 4, 102) 57.5%,
            rgb(189, 30, 89) 75%,
            rgb(189, 30, 89) 100%
        );

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
