#Places .pic {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 5%;
    box-shadow: lightgray;
    height: 150px;
}

#Places .rate {
    display: inline-flex;
    margin-top: 10px;
}

#Places .rate .stars {
    color: pink;
    height: 14px;
    width: 14px;
    fill: currentcolor;
    margin-left: 10px;
    margin-top: 3px;
}

#Places .list_info {
    list-style: none;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    margin-bottom: 0;
}

#Places .prices {
    margin-top: 10px;
    font-weight: bold;
}

#Places .img-wrapper {
    position: relative;
    margin-top: 30px;
}

#Places .heart {
    position: absolute;
    top: 10px;
    right: 10px;
}

#Places .far {
    color: red;
}